@media (max-width: 768px) {
  .goods-card .table-responsive {
    overflow-x: scroll;
  }
}

@media (min-width: 992px) {
  .goods-card .goods-store {
    border-right: 1px solid rgba(0, 0, 0, 0.125);
  }
}

@media (max-width: 992px) {
  .goods-card .goods-store {
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  }

  .goods-card .goods-catalog {
    padding-top: 20px;
  }
}

.goods-card .table {
  table-layout: fixed;
  min-width: 600px;
}

.goods-card .table th,
.goods-card .table td {
  padding: 5px;
}

.goods-card .table .goods-image {
  width: 90px;
  height: 90px;
}

.goods-card .image-box {
  position: relative;
  width: 120px;
  height: 120px;
}

.goods-card .image-box #image {
  position: absolute;
  top: 0;
  left: 0;
  width: 120px;
  height: 120px;
  cursor: pointer;
  opacity: 0;
  z-index: 777;
}

.goods-card .image-box .image {
  position: absolute;
  top: 0;
  left: 0;
  width: 120px;
  height: 120px;
  border: 1px solid #ced4da;
  z-index: 666;
}

.goods-card .image-box .image-ctrl {
  opacity: 0;
}

.goods-card .image-box .image-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 120px;
  height: 120px;
  color: #ced4da;
  font-size: 60px;
  text-align: center;
  line-height: 118px;
  border: 1px solid #ced4da;
  z-index: 555;
}

.goods-card .catalog-box .btn-link {
  text-decoration: underline;
}

.goods-card .catalog-box form {
  padding: 0;
}

