@media(min-width: 768px) {}

@media(max-width: 768px) {
    .goods-card {
        .table-responsive {
            overflow-x: scroll;
        }
    }
}

@media(min-width: 992px) {
    .goods-card {
        .goods-store {
            border-right: 1px solid rgba(0, 0, 0, 0.125);
        }
    }
}

@media(max-width: 992px) {
    .goods-card {
        .goods-store {
            padding-bottom: 20px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.125);
        }
        .goods-catalog {
            padding-top: 20px;
        }
    }
}

.goods-card {
    .table {
        table-layout: fixed;
        min-width: 600px;
        th,
        td {
            padding: 5px;
        }
        .goods-image {
            width: 90px;
            height: 90px;
        }
    }
    .image-box {
        position: relative;
        width: 120px;
        height: 120px;
        #image {
            position: absolute;
            top: 0;
            left: 0;
            width: 120px;
            height: 120px;
            cursor: pointer;
            opacity: 0;
            z-index: 777;
        }
        .image {
            position: absolute;
            top: 0;
            left: 0;
            width: 120px;
            height: 120px;
            border: 1px solid #ced4da;
            z-index: 666;
        }
        .image-ctrl {
            opacity: 0;
        }
        .image-bg {
            position: absolute;
            top: 0;
            left: 0;
            width: 120px;
            height: 120px;
            color: #ced4da;
            font-size: 60px;
            text-align: center;
            line-height: 118px;
            border: 1px solid #ced4da;
            z-index: 555;
        }
    }
    .catalog-box {
        .btn-link {
            text-decoration: underline;
        }
        form {
            padding: 0;
        }
    }
}
